{% extends 'base.html' %} {% block content %}
<div class="row mb-4 container-fluid">
  <div class="col-md-3">
    <div class="card card-product-grid">
      <a href="./product-detail.html" class="img-wrap">
        <img src="assets/images/promo/1.jpg" />
      </a>
      <figcaption class="info-wrap">
        <a href="./product-detail.html" class="title">Body Content</a>
        <div class="price mt-1">Details</div>
        <!-- price-wrap.// -->
      </figcaption>
    </div>
  </div>
  <!-- col.// -->
</div>

{% endblock %}
