{% load static %}
<header class="header-area mb-4">
  <!--header-top-->
  <div class="header-top d-none d-sm-block">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm-9">
          <div class="contact-info">
            <ul>
              <li><i class="fa fa-phone"></i>017********<span>|</span></li>
              <li>
                <i class="fa fa-home"></i>Dhaka, Bangladesh
                <span>|</span>
              </li>
              <li><i class="fa fa-time"></i>Monday - Saturday: 7.AM - 5.PM</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="social-icons pull-right">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
            <a href="#"><i class="fa fa-skype"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--header-bottom-->
  <div id="sticker" class="header-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-sm-2">
          <div class="logo">
            <a href="index.html">EAH</a>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="mainmenu text-center">
            <nav>
              <ul>
                <li>
                  <a href="index.html">Home</a>
                </li>
                <li>
                  <a href="#">Pages</a>
                  <ul class="submenu">
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="coming-soon.html">Coming Soon</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">Services</a>
                  <ul class="submenu">
                    <li><a href="">Weather</a></li>
                    <li><a href="service-2.html">Soil analysis</a></li>
                    <li><a href="service-3.html">Crop Managment</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">Marketplace</a>
                </li>
                <li><a href="contact.html">Contact Us</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="search-and-cart">
            <!--search-box-->
            <div class="search search-box">
              <i class="fa fa-search searching-icon"></i>
              <div class="search-place">
                <input type="text" placeholder="Search" />
              </div>
            </div>
            <!--shopping-cart-->
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
