{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container mt-5">
    <div class="card-header bg-primary text-white">Journey Information</div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">From</th>
                <th scope="col">To</th>
                <th scope="col">Details</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Created Date</th>
            </tr>
        </thead>
        <tbody>
                {% for i in data %}
                <tr>
                    <td><p class="card-text">{{i.from_address}}</p></td>
                    <td><p class="card-text">{{i.to_address}}</p></td>
                    <td><p class="card-text">{{i.object_details}}</p></td>
                    <td>
                        {{i.phone_number}}
                        <a href="tel:{{i.phone_number}}" class="btn-primary"
                            >Call</a
                        >
                    </td>
                    <td><p>{{i.created_date}}</p></td>
                </tr>
                <!-- Add more rows with dynamic data here -->
                {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock content %}
